body{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
}

h2{
    font-style: italic;
    color: rgb(105, 48, 218);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    height: 10%;
    width: 80%;
    font-size: 50px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin: 5px, 10px, 10px, 10px;
    font-size: large;
}

form{
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    /* background-color: red; */
}

.fm{
    outline-style: inset;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    /*background-color: red; */;
}

